@font-face {
  font-family: "Graphik";
    src:font-url("fonts/Graphik-Semibold-Web.woff2") format("woff2");
    font-weight: bold;
  }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("images/city.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Graphik", Arial, Helvetica, sans-serif;
}